<footer>
	<div class="content-wraper">
		<div class="footer-wrap">
			<div class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
		
		<nav class="menu"><ul>
			<li><a href="" class="active">Главная</a></li>
			<li><a href="">Все товары</a></li>
			<li><a href="">Как это работает</a></li>
			<li><a href="">Бренды</a></li>
			<li><a href="">Партнерам</a></li>
		</ul></nav>
		<div class="header-phone"><p>8 987 654-32-10</p><p>8 987 654-32-10</p><a href="" class="btn-call">обратный звонок</a></div>
		<p class="footer-copyright"> (c) &laquo;DutyFree Market 54&raquo; 2015</p>
	</div>
	</div>
</footer>