<section class="index-content">
	<div class="content-wraper">
		<article class="df-content">
			<div class="index-content-picture"><img src="img/content-picture.jpg" alt="DutyFree Магазин"></div>
			<div class="index-content-text"><h3>Что такое DUTY FREE магазины? </h3> <p>Магазины беспошлинной торговли,  располагающиеся в местах пункта пропуска через Государственную границу. <br><br>

Товары, которые продаются там  превосходят по качеству аналоги представленные на внутреннем рынке нашей страны.</p></div>
		</article>
	</div>
</section>