<div class="content-wraper">
	<section class="index-how-it-work">
	<h2>Как это работает</h2>
	<article class="index-rule">
		<div class="rul-number"><p>1</p></div>
		<p>Выбирай интересующий тебя товар, пользуясь нашими прайс листами</p>
	</article>
		<article class="index-rule">
		<div class="rul-number"><p>2</p></div>
		<p>Звони и заказывай товар или заполни форму обратного звонка и с тобой свяжется оператор</p>
	</article>
		<article class="index-rule">
		<div class="rul-number"><p>3</p></div>
		<p>Назови адрес доставки</p>
	</article>
		<article class="index-rule">
		<div class="rul-number"><p>4</p></div>
		<p>Дождись курьера и забери у него заказ</p>
	</article>
		<article class="index-rule">
		<div class="rul-number"><p>5</p></div>
		<p>Наслаждайся покупкой</p>
	</article>
	</section>
</div>