<section class="index-category">
	<div class="content-wraper">
		<h2>Что мы продаем</h2>
		<a href="">
			<figure class="alcohol-category">
				<img src="img/alcohol-category.jpg" alt="Алкоголь">
				<h3>Алкоголь</h3>
				<p>Настоящий элитный брендовый алкоголь из Европы</p>
			</figure>
		</a>
		<a href="">
			<figure class="parfum-category">

					<img src="img/parfum-category.jpg" alt="Парфюмерия">
				<h3>Парфюмерия и Косметика</h3>
				<p>Только оригинальная продукция от производителя</p>
			</figure>
		</a>
		<a href="">
			<figure class="other-category">

					<img src="img/other-category.jpg" alt="Разное">
				<h3>Разное</h3>
				<p>Шоколад, жевательная резинка, сигареты, газированная вода</p>
			</figure>
		</a>
	</div>
</section>