<section class="index-top-goods">
	<div class="content-wraper">
		<h2>Топ товаров</h2>
		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>

		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>

		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>

		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>

		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>

		<figure class="index-goods-item">
			<div class="item-pict">
				<a href="">
					<img src="img/item.jpg" alt=""></a>
			</div>
			<p>Наименование</p>
			<div class="item-price">
				<p>Цена</p>
			</div>
			<a href="" class="btn-to-basket">добавить в корзину</a>

		</figure>
	</div>
</section>