<div class="content-wraper">
	<section class="row-products">
	<h2>Что мы продаем</h2>
	<figure class="index-alcohol">
		<div class="pict"></div>
		<h3>Алкоголь</h3>
		<p>Настоящий элитный брендовый алкоголь из Европы</p>
		<a href="price-alcohol.html" class="btn-price">прайс на алкоголь</a>
	</figure>
	<figure class="index-parfum">
	<div class="pict"></div>
		<h3>ПАРФЮМ И КОСМЕТИКА</h3>
		<p>Только оригинальная продукция от производителя</p>
		<a href="price-parfum.html" class="btn-price">прайс на парфюм</a>
	</figure>
	<figure class="index-other">
		<div class="pict"></div>
		<h3>РАЗНОЕ</h3>
		<p>Шоколад, жевательная резинка, сигареты и газированная вода</p>
		<a href="price-other.html" class="btn-price">прайс на другие товары</a>
	</figure>
	
	</section>
</div>